.container {
    display: flex;
    flex-direction: column;
}

.input {
    margin-left: 7px;
}

.label {
    margin-bottom: 15px;
}

.button {
    margin-top: 15px;
    max-width: 130px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}